.game-card {
  background: linear-gradient(145deg, #250040, #170022);
  border: 2px solid #ff00ff;
  box-shadow: 0 0 10px #ff00ff, 0 0 30px #ff33cc;
  border-radius: 12px;
  padding: 15px;
  width: 220px;
  color: white;
  text-shadow: 0 0 4px #ff33ff;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.game-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ff00ff, 0 0 40px #ff33ff;
}

.game-image {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  border: 2px solid #ff00ff;
  box-shadow: 0 0 10px #ff00ff;
  margin-bottom: 10px;
  object-fit: cover;
}