.game-card {
  background: rgba(10, 10, 10, 0.9);
  border: 2px solid #00eaff;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 15px #00eaff, 0 0 30px #007bff;
  transition: 0.3s;
}

.game-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #00eaff, 0 0 50px #007bff;
}

.game-image {
  width: 100%;
  height: 160px;
  object-fit: contain;
  border-radius: 8px;
  background: #111;
}

.game-title {
  color: #00eaff;
  text-shadow: 0 0 8px #00eaff;
  font-size: 0.9rem;
  margin: 10px 0 5px;
}

.game-description {
  color: #ccc;
  font-size: 0.7rem;
}