@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap");

body {
  background-color: #000;
  color: #fff;
  font-family: "Orbitron", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.App-header h1 {
  font-size: 2.5rem;
  color: cyan;
  text-shadow: 0 0 20px cyan, 0 0 40px #00ffff;
}

.App-header p {
  color: #00ffff;
  text-shadow: 0 0 15px cyan;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 40px;
}

.extras {
  margin-top: 50px;
}